body {
  font-family: sans-serif;
  background-color: #e7e7f2;
}

.header {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin: 0;
  padding-left: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#feedback-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.question {
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.question-text {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.code-paper {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

@media (max-width: 700px) {
  .header,
  .code-paper,
  #feedback-form {
    max-width: 80%;
  }

  h1,
  .question-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .header,
  .code-paper,
  #feedback-form {
    max-width: 90%;
  }

  h1,
  .question-text {
    font-size: 1rem;
  }
}
